* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 10px;
  min-width: 350px;
  color: white;
  background-color: #0d1117;
  font-family: Arial, Helvetica, sans-serif;
}

.invisible {
  display: none;
}

pre {
  width: auto;
  overflow: auto;
}

h1 {
  text-align: center;
}

svg {
  fill: #8b949e;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px;
}

button svg {
  margin-right: 5px;
}

a {
  transition: 0.3s;
  text-decoration: none;
  color: #58a6ff;
}

a:hover {
  text-shadow: 0px 0px 10px #58a6ff;
}

a p {
  text-shadow: none;
}

.nodeclink:hover {
  text-shadow: none;
}

.button {
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(0px 0px 10px #58a6ff);
  filter: drop-shadow(0px 0px 10px #58a6ff);
}

button {
  border: none;
  color: white;
  background-color: #161b22;
  font-size: 13px;
  border-radius: 18px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:not(.active):not(.activetab):not(.tablinks) {
  box-shadow: 0px 0px 10px #ffffff;
}

button:not(.active):not(.activetab):not(.tablinks):hover {
  box-shadow: 0px 0px 10px #58a6ff;
  font-size: 14px;
  padding: 11px;
  margin: 3px;
}

button.icontext {
  display: inline-flex;
  align-items: center; 
  font-size: 16px;
  padding: 6px;
  padding-right: 12px;
  border-radius: 22px;
  margin: 10px 5px !important;
}

button.icontext:hover {
  background-color: #1f2630;
  font-size: 18px !important;
  padding: 8px !important;
  padding-right: 14px !important;
  border-radius: 26px;
  margin: 8px 5px !important;
}

header button, footer button {
  background-color:#0d1117 !important;
}

header button:hover, footer button:hover {
  background-color: #161b22 !important;
}

header, footer {
  box-shadow: 0px 0px 10px #fff;
  background-color: #343942;
  padding: 10px;
  text-align: center;
  border-radius: 32px;
}

header {
  padding-bottom: 30px;
}

footer {
  margin-top: 10px;
}

header div, footer div {
  display: inline-flex;
}

header div div, footer div div {
  text-align: center;
  display: inline-block;
  margin: 0px 10px;
}

.blackbk {
  background-color: #000;
  padding:20px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  height: 300px;
  max-width: 800px;
  color: white;
}

.tab {
  box-shadow: 0px 0px 10px #fff;
  overflow: hidden;
  border: none;
  background-color: #161b22;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  z-index:1;
  border-radius: 32px;
  padding: 4px 0px;
  margin: 10px 0px;
}

.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px;
  font-size: 18px;
  border-radius: 27px;
  margin: 7px 5px;
}

.tab button:not(.activetab):not(.active):hover {
  box-shadow: 0px 0px 10px #1F2630;
  background-color: #1F2630;
  font-size: 21px;
  padding: 14px;
  margin: 1px 5px;
}

.tab button.active:hover, .tab button.activetab:hover {
  cursor: default;
}

.tab button.active {
  background-color: #343942;
  font-size: 21px;
  padding: 14px;
  margin: 1px 5px;
}

.tab button.activetab {
  background-color: #343942;
  display: none;
  font-size: 21px;
  padding: 14px;
  margin: 1px 5px;
}

.tab .tabmenu {
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 2px 5px;
  display: none;
  transition: 0.5s;
}

.tab .tabmenu:hover {
  background-color: #1f2630;
  box-shadow: 0px 0px 10px #1f2630;
}

.tab button span {
  vertical-align: middle;
  font-size: 12px;
  display: inline-block;
  background-color: #343942;
  border-radius: 10px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
}

.tab button.active span, .tab button.activetab span {
  background-color: #161b22;
}

@media screen and (max-width: 700px) {
  .tab button.tablinks {
    display: none;
  }
  
  .tab button.activetab {
    float: none;
    display: block;
  }
  
  .tab button.activetab:empty {
    background-color: inherit;
    padding: 0px;
    margin: 27px;
  }
  
  .tab .tabmenu {
    float: left;
    display: block;
  }
  
  .tab.responsive .tabmenu {
    background-color: #343942;
    box-shadow: 0px 0px 10px #343942;
  }
  
  .tab.responsive .tabmenu:hover {
    background-color: #1f2630;
    box-shadow: 0px 0px 10px #1f2630;
  }
  
  .tab.responsive button.activetab {
    margin-bottom: 10px;
  }
  
  .tab.responsive button.activetab:empty {
    margin-bottom: 30px;
  }
  
  .tab.responsive button.tablinks {
    float: none;
    display: block;
  }
  
  .tab.responsive button.tablinks.active {
    display: none;
  }

  .tab.responsive .tabmenu .hamicon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .tab.responsive .tabmenu .hamicon .bar2 {opacity: 0;}

  .tab.responsive .tabmenu .hamicon .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
    transform: rotate(45deg) translate(-6px, -7px);
  }

}

.tabcontent {
  animation: fadeEffect 1s;
  display: none;
  border: none;
}

.tabcontent ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.hamicon {
  display: inline-block;
  margin: 10px 6px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #8b949e;
  margin: 4px;
  transition: 0.4s;
  border-radius: 3px;
}

.box {
  transition: 0.3s;
  background-color: #0d1117;
  border: 2px solid #30363d;
  border-radius: 25px;
  padding: 25px;
  padding-bottom: 20px;
  margin: 20px;
}

a .box
{
  padding-bottom: 25px;
}

.box div {
  margin: 5px;
}

.box p {
  color: #8b949e;
}

.box button {
  color: #8b949e;
  box-shadow: none !important;
}

.box button:hover {
  box-shadow: 0px 0px 10px #58a6ff !important;
}

a .box:hover {
  box-shadow: 0px 0px 10px #58a6ff inset, 0px 0px 10px #58a6ff;
  border: 2px solid #58a6ff;
  margin: 20px 15px;
  padding: 30px;
} 

.controls {
  display: flex;
  margin: 0px !important;
  padding: 0px !important;
}

.horizontalspace {
  flex-grow: 1;
}

.stats {
  display: flex;
  align-items: center;
}

.stats *:not(svg) {
  vertical-align: bottom;
  color: #8b949e;
  margin: 5px;
}

.stats a {
  color: #8b949e;
}

.stats a:hover {
  color: #58a6ff;
}

.buttons {
  display: block;
}

@media screen and (max-width: 600px) {

  .controls {
    display: block;
  }
  
}

.row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {

  .row {
    display: block;
  }
  
}

table {
  border: 2px solid #8b949e;
  border-collapse: collapse;
  margin: 30px;
}

th {
  border: 2px solid #8b949e;
  text-align: center;
  padding: 5px;
}

td {
  border: 1px solid #8b949e;
  text-align: left;
  padding: 5px;
}
